%% -*- mode: erlang -*-
[{bitmessage, [
            {listen_port, 8054},
            {max_age_of_public_key, 2592000},
            {max_age_of_inventory, 172800 },
            {max_number_of_outgoing_connections, 8},
            {table_wait, 16000},
            {db_clear_interval, 1000},
            {max_age_of_node,172800 },
            {peers, [
                     {{23,239,9,147}, 8444,1},
                     {{98,218,125,214}, 8444, 1},
                     {{192,121,170,162}, 8444, 1},
                     {{108,61,72,12}, 28444, 1},
                     {{158,222,211,81}, 8080, 1},
                     {{79,163,240,110}, 8446, 1},
                     {{178,62,154,250}, 8444, 1},
                     {{178,62,155,6}, 8444, 1},
                     {{178,62,155,8}, 8444, 1},
                     {{68,42,42,120}, 8444, 1}
                    ]}
            ]},

    %% SASL config
{sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, all},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
]}

    ].
