%% -*- mode: erlang -*-
[{bitmessage, [
            {listen_port, 8044},
            {max_age_of_public_key, 2592000},
            {max_age_of_inventory, 172800 },
            {max_number_of_outgoing_connections, 8},
            {max_age_of_node,172800 }
            ]}%,

    %% SASL config
%    {sasl, [
%        {sasl_error_logger, {file, "log/sasl-error.log"}},
%        {errlog_type, all},
%        {error_logger_mf_dir, "log/sasl"},      % Log directory
%        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
%        {error_logger_mf_maxfiles, 5}           % 5 files max
    %]}

    ].
