<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RISE - Terms of use</title>
<script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
<!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script> -->
<!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script> -->
<script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
<script src='/js/bootstrap.min.js' type='text/javascript' charset='utf-8'></script>
<link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
<!--     <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8" /> -->
<link rel="stylesheet" href="/nitrogen/nitrogen.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
</head>
<body>
<div style='text-align:center;'>
    <div style="width:600px;display:inline-block;text-align:left;vertical-align:middle;">
        <div>
			<div style="text-align:center">
				<img src="/img/logo1.png" style="height: 150px">
			</div>
            <h1 style="text-align:center;font-weight:normal;font-size:16px;line-height:1.8em;">
                TERMS OF USE
            </h1>
            <p>These terms have not been reviewed by legal council, but have been written in good faith.</p>
            <p>
            They are as follows:
            </p>
            <ul>
                <li>
                No personally identifying information about you or your contacts will be collected via this application. Should you have any doubts about this, feel free to review our source code which is included with this package.
                </li>
                <li>
                We assume no responsibility of any kind for results related to the use of this application. 
                </li>
                <li>
                We reserve to right to use between 1% to 25% of your idle CPU and/or GPU time to support our venture. Every effort will be made to reduce our impact on your system temperature and battery life. 
                </li>
                <li>
                In addition to this software we will also offer support at no additional cost. 
                </li>
            </ul>

            <p>You may contact our support team at:</p>
            <p>
            Email: <a href="mailto:support@sovereignprime.com">support@sovereignprime.com</a>
            </p>
        </div>
        <div class="wfid_pl" sytle="text-align:center; width:600px;">
            <p style="text-align:center">Installation in progress</p>  [[[page:progress()]]]
        </div>
    </div>
</div>
</div>
<script>
[[[script]]]
</script>
</body>
</html>
