    <div class="row-fluid">
        <div class="dropdown span1">
        <a href="#" class="btn btn-link dropdown-toggle btn-block" data-toggle="dropdown">
                <i class="icon-globe"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-globe"></i>Updates</a></li>
                <li><a href="#"><i class="icon-tasks"></i>Tasks</a></li>
                <li><a href="#"><i class="icon-user"></i>Relationships</a></li>
                <li><a href="#"><i class="icon-file"></i>Files</a></li>
                <li><a href="#"><i class="icon-usd"></i>Finances</a></li>
            </ul>
        </div>   
        <div class="span10">
            <form>
                <div class="input-append input-block-level">
                    <input type="text" class="input-block-level">
                    <button class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
                </div>
            </form>
        </div>
        <div class="dropdown span1">
            <a href="#" class="dropdown-toggle btn-block btn btn-link" data-toggle="dropdown">
                <i class="icon-plus"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Updates</a></li>
                <li><a href="#">Tasks</a></li>
                <li><a href="#">Relationships</a></li>
                <li><a href="#">Files</a></li>
                <li><a href="#">Finances</a></li>
            </ul>
        </div>
    </div>
