% vim: ft=erlang ts=4 sw=4 et
{erl_opts, [
            debug_info
           ]}.
{deps, [
    {simple_bridge, {git, "ssh://git@github.com/SovereignPrime/simple_bridge",{branch, master}}},
    {nitrogen_core, {git, "ssh://git@github.com/SovereignPrime/nitrogen_core", {branch, master}}},
    {nprocreg,      {git, "git://github.com/nitrogen/nprocreg",     {tag, "v0.2.1"}}},
    {cowboy,        {git, "git://github.com/extend/cowboy",         {tag, "1.0.1"}}},
    {mochijson2,    {git, "git://github.com/bjnortier/mochijson2.git", {ref, "3663fb01fd98958181adc2d1300c7bfa553e1434"}}},
    {bitmessage, {git, "ssh://git@github.com/SovereignPrime/BitMessage.erl.git", {branch, "develop"}}},
    %{eminer, {git, "ssh://git@github.com/t1ha/eminer.git", {branch, "develop"}}},
    {lager, {git, "git://github.com/basho/lager.git", {branch, master}}},
    {sigma_search, {git, "ssh://git@github.com/SovereignPrime/sigma_search.git", {branch, "master"}}},
    {sync, {git, "git://github.com/rustyio/sync", {ref, "a8366be73244383c07f9cafe30b72e83f3ad0621"}}}
]}.

             
{relx, [{release, {'rise', "0.1.5"},
         [
          cowboy,
          nprocreg,
          nitrogen_core,
          bitmessage,
          lager,
          'rise',
          simple_bridge,
          sigma_search
         ]},
        {overlay_vars, "config/vars.config"},
        {overlay, [
                   {copy, "config", "etc"},
                   {copy, "apps/rise/templates", "site/templates"},
                   {copy, "apps/rise/static", "site/static"}
                  ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},
        {system_libs, true},

        {extended_start_script, true}]
}.

{pre_hooks, [
             {"(linux|solaris)", compile, "make lin"},
             {"win32", compile, "make win"},
             {"darwin", compile, "make mac"}
            ]}.

{profiles, [{mac, [{relx, [{dev_mode, false},
                           {include_erts, true}]}]
            },
            {lin, [{relx, [{dev_mode, false},
                           {include_erts, true},
                           {sys_config, "./config/sys.config"},
                           {vm_args, "./config/vm.args"},
                           {system_libs, true},
                           {extended_start_script, false},
                           {overlay, [
                                      {copy, "config", "etc"},
                                      {copy, "apps/rise/templates", "site/templates"},
                                      {copy, "apps/rise/static", "site/static"},
                                      {template, "config/vm.args", "etc/vm.args"},
                                      {copy, "frontend/rise", "bin/rise"}
                                     ]}
                          ]}]
            },
            {win, [{relx, [{dev_mode, false},
                            {overlay, [
                                       {copy, "config", "etc"},
                                       {copy, "frontend/rise.exe", "bin/rise.exe"}
                                      ]},
                            {include_erts, true}]}]
            } ]
}.
