% vim: ft=erlang ts=4 sw=4 et
{erl_opts, [
            debug_info
           ]}.
{deps, [
    {simple_bridge, {git, "ssh://git@github.com/SovereignPrime/simple_bridge",{branch, master}}},
    {nitrogen_core, {git, "ssh://git@github.com/SovereignPrime/nitrogen_core", {branch, master}}},
    {nprocreg,      {git, "git://github.com/nitrogen/nprocreg",     {tag, "v0.2.1"}}},
    {cowboy,        {git, "git://github.com/extend/cowboy",         {tag, "0.8.6"}}},
    {ranch,         {git, "git://github.com/extend/ranch",          {tag, "0.8.5"}}},
    {mimetypes,     {git, "git://github.com/spawngrid/mimetypes",   {branch, master}}},
    {mochijson2,    {git, "git://github.com/bjnortier/mochijson2.git", {ref, "3663fb01fd98958181adc2d1300c7bfa553e1434"}}},
    {bitmessage, {git, "ssh://git@github.com/SovereignPrime/BitMessage.erl.git", {branch, "develop"}}},
    %{eminer, {git, "ssh://git@github.com/t1ha/eminer.git", {branch, "develop"}}},
    {lager, {git, "git://github.com/basho/lager.git", {branch, master}}},
    {sigma_search, {git, "ssh://git@github.com/SovereignPrime/sigma_search.git", {branch, "master"}}},
    {sync, {git, "git://github.com/rustyio/sync", {ref, "a8366be73244383c07f9cafe30b72e83f3ad0621"}}}
]}.

%{pre_hooks, [
%        {"linux|bsd|darwin|solaris", compile, "./crypto_compat.escript"},
%        {"win32", compile, "escript.exe crypto_compat.escript"}
%            ]}.
             
{relx, [{release, {'rise', "0.1.5"},
         [
          'rise',
          stdlib,
          sasl,
          crypto,
          runtime_tools,
          xmerl,
          compiler,
          ssl,
          common_test,
          parsetools,
          nitrogen_core
         ]},

        {sys_config, "./config/app.config"},
        {sys_config, "./config/cowboy.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},
        {system_libes, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
