% vim: ft=erlang ts=4 sw=4 et
[
  {'rise', [
        % If a signkey is not specified, then Nitrogen uses the Erlang cookie.
        % {signkey, "SECRET"}, 

        % Default session timeout is 20 minutes.
        % {session_timeout, 20},

        % Specify a session cookie name. Uses "wf" by default.
        % {cookie_name, "wf"}
     {work_dir, "."}
    ]}
].
